.navStyle {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Adjust the padding as needed */
    background-color: #333; /* Add your preferred background color */
  }
  
  .navStyle a {
    color: white; /* Set the font color */
    text-decoration: none;
    font-size: 18px; /* Adjust the font size as needed */
    text-align: center;
    margin: 30px;
  }

  
  .navStyle a:hover {
    color: #f00; /* Change the color on hover if desired */
  }
  